<%= form_tag({ :controller => 'orders_charts', :action => 'show', :project_id => @project },
    :method => :get, :id => 'query_form') do %>
  <div id="query_form_with_buttons" class="hide-when-print">
    <%= hidden_field_tag 'set_filter', '1' %>
  <div id="query_form_content">
    <fieldset id="filters" class="collapsible <%= @query.new_record? ? "" : "collapsed" %>">
    <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
    <div style="<%= @query.new_record? ? "" : "display: none;" %>">
    <%= render :partial => 'queries/filters', :locals => {:query => @query} %>
  </div>
  </fieldset>
  <fieldset class="collapsible collapsed">
    <legend onclick="toggleFieldset(this);"><%= l(:label_options) %></legend>
    <div>
      <table>
      <tr>
        <td><label for='chart'><%= l(:label_products_chart) %></label></td>
        <td>
          <select name="chart" id="chart">
            <option value="number_of_orders"><%= l(:label_products_number_of_orders) %></option>
            <option value="total_sales"><%= l(:label_products_total_sales) %></option>
            <option value="average_order_value"><%= l(:label_products_average_order_value)%></option>
            <option value="popular_products"><%= l(:label_products_popular_products) %></option>
            <option value="popular_categories"><%= l(:label_products_popular_categories) %></option>
          </select>
        </td>
      </tr>
      <tr id="interval_size">
      <td>
        <%= l(:label_products_interval_size) %>
      </td>
      <td>
        <select name="interval_size" id="interval_size_sel">
          <option value="day" selected="selected"><%= l(:label_products_day) %></option>
          <option value="week"><%= l(:label_products_week) %></option>
          <option value="month"><%= l(:label_products_month) %></option>
          <option value="quarter"><%= l(:label_products_quarter) %></option>
          <option value="year"><%= l(:label_products_year) %></option>
        </select>
      </td>
      </tr>
      </table>
    </div>
  </fieldset>
  </div>
  <p class="buttons">
    <%= link_to_function l(:button_apply), '$("#query_form").submit()', :class => 'icon icon-checked' %>
    <%= link_to l(:button_clear), { :set_filter => 1, :project_id => @project }, :class => 'icon icon-reload'  %>
  </p>
  </div>
<% end %>

<%= error_messages_for 'query' %>

<%= javascript_tag do %>
$(document).ready(function() {
  if ("<%= @query.interval_size %>") {
    $("#interval_size_sel").val("<%= @query.interval_size %>");
  }

  $("#chart").val("<%= @chart %>");

  var toggleIntervalSize = function() {
    var selectedChart = $("#chart").val();
    if (selectedChart === "popular_products" || selectedChart === "popular_categories") {
      $("#interval_size").hide();
    } else {
      $("#interval_size").show();
    }
  };

  $("#chart").change(toggleIntervalSize);
  toggleIntervalSize();

  /* Hide report_date_period checkbox so that it couldn't be unchecked. */
  $("#cb_report_date_period").hide();
  $("label[for=cb_report_date_period]").removeAttr("for");
});
<% end %>
